@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>

<style>
    #role_tbl, .c {
        border: double;
    }
</style>

@using (Html.BeginForm())
{
    <table id="role_tbl">
        <tr>
           <td class="c">Enter Role Name </td>
           <td class="c">
               @Html.EditorFor(m => m.Name)
           </td>
        </tr>
    </table>
    <input type="submit" value="Create Role
           " />
}